# Obsidian
.obsidian/workspace.json
.obsidian/cache/

# Plugins (если не хочешь синкать их)
.obsidian/plugins/

# Trash
.trash/

# System
.DS_Store
Thumbs.db

# Obsidian temp
.makemd/
.space/

# Work Folders
Work Las-Vegas/